
h3 {
  margin: 0;
}

.todo-list {
  padding: 1rem;
  max-width: 450px;
  margin: 0 auto;
  border-top: 5px solid #435757;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  user-select: none;
  height: auto;
}

.items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

#myInput {
  height: 42px;
  width: 98%;
  border: 0;
  outline: none;
}

#myInput:focus-visible {
  outline: none;
}

.w4 {
  width: 4%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ccccc7;
  height: 1px;
}

li {
  height: 3rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #f1f2f5;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

.completed {
  text-decoration: line-through;
}

.todo-list-item {
  outline: none;
}

.todo-list-item:focus-visible {
  outline: none;
}

.outline {
  outline: none;
}

input[type=text] {
  outline: none;
  border: none;
}

li:hover input[type="text"]::before {
  content: attr(value);
}
